<nav class="navbar navbar-expand-lg bg-gray-100 navbar-absolute fixed top-0 w-full">
    <div class="container-fluid flex items-center">
        <a class="navbar-brand" href="javascript:void(0)">{{ getTitle() }}</a>
        <div class="ml-auto flex items-center"> <!-- Utilizamos flex para alinear los elementos a la derecha -->
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons text-red-500">notifications</i>
                            <p>
                                <span class="d-lg-none d-md-block">Some Actions</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            <i class="material-icons text-red-500">person</i> <!-- Aplicamos el color rojo aquí -->
                            <p>
                                <span class="d-lg-none d-md-block">Account</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
