.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    background: $white-color;
    @include shadow-big();

    .logo-img {
        width: 35px;
        display: block;
        max-height: 30px;
        margin-left: 13px;
        margin-right: 15px;

        img {
            width: 35px;
            top: 16px;
            position: absolute;
        }
    }

    .nav {
        margin-top: 20px;
        display: block;

        .caret {
            margin-top: 13px;
            position: absolute;
            right: 6px;
        }

        li {
            >a {

                &:hover,
                &:focus {
                    background-color: transparent;
                    outline: none;
                }
            }

            &:first-child>a {
                margin: 0 15px;
            }

            &:hover>a,
            & .dropdown-menu a:hover,
            & .dropdown-menu a:focus,
            &.active>[data-toggle="collapse"] {
                background-color: rgba(200, 200, 200, 0.2);
                color: $black-color;
                box-shadow: none;
            }

            &.active>[data-toggle="collapse"] {
                i {
                    color: #a9afbb;
                }
            }

            &.active>a,
            &.active>a i {
                color: $white-color;
            }

            &.separator {
                margin: 15px 0;

                &:after {
                    width: calc(100% - 30px);
                    content: "";
                    position: absolute;
                    height: 1px;
                    left: 15px;
                    background-color: rgba(180, 180, 180, .3);
                }

                &+li {
                    margin-top: 31px;
                }
            }
        }

        p {
            margin: 0;
            line-height: 30px;
            font-size: 14px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;
        }

        i {
            font-size: 24px;
            float: left;
            margin-right: 15px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            color: #a9afbb;
        }
    }

    .nav li a,
    .nav li .dropdown-menu a {
        margin: 10px 15px 0;
        border-radius: $border-radius-base;
        color: $black-color;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: capitalize;
        font-size: $font-paragraph - 1;
        padding: 10px 15px;
    }

    .logo {
        padding: 15px 0px;
        margin: 0;
        display: block;
        position: relative;
        z-index: 4;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: rgba(180, 180, 180, .3);

        }

        p {
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
        }

        .simple-text {
            text-transform: uppercase;
            padding: $padding-small-vertical $padding-zero;
            display: inline-block;
            font-size: 18px;
            color: $black-color;
            white-space: nowrap;
            font-weight: $font-weight-default;
            line-height: 30px;
            overflow: hidden;
            text-align: center;
            display: block;
        }
    }

    &[data-color="danger"] {
        @include set-background-color-button($brand-danger);
    }
}


.main-panel {
    position: relative;
    float: right;
    width: $sidebar-width;
    @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));

    .main-content {
        margin-top: 70px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);
    }

    .footer {
        border-top: 1px solid #e7e7e7;
    }

    .navbar {
        margin-bottom: 0;
    }

    .header {
        margin-bottom: 30px;

        .title {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}